# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# JetBrains IDEs
.idea/
*.iml

# Logs
logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
*~

# Environment variables
.env
.env.local

# Node modules
node_modules/